<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome Page</title>
</head>
<body>
<h1>Welcome!</h1>

<div id="welcomeMessage">
    <div th:if="${userRole == 'admin'}">
        <p>Welcome back, Admin!</p>
    </div>
    <div th:if="${userRole == 'seller'}">
        <p>Hello Moderator!</p>
    </div>
    <div th:if="${userRole == 'user'}">
        <p>Hi user!</p>
    </div>
    <div th:if="${userRole == null}">
        <p>Welcome, Guest!</p>
    </div>
</div>
</body>
</html>